registry=https://mauryasandeep.pkgs.visualstudio.com/pipelines-dotnet-core/_packaging/project-feed/npm/registry/                         
always-auth=true
; begin auth token
//mauryasandeep.pkgs.visualstudio.com/pipelines-dotnet-core/_packaging/project-feed/npm/registry/:username=mauryasandeep
//mauryasandeep.pkgs.visualstudio.com/pipelines-dotnet-core/_packaging/project-feed/npm/registry/:email=sandeepmaurya@outlook.com
//mauryasandeep.pkgs.visualstudio.com/pipelines-dotnet-core/_packaging/project-feed/npm/:username=mauryasandeep
//mauryasandeep.pkgs.visualstudio.com/pipelines-dotnet-core/_packaging/project-feed/npm/:email=sandeepmaurya@outlook.com
; end auth token
